#ifndef CONFIG_H
#define CONFIG_H

#include <Arduino.h>

// 【注意】このファイルを「config.h」にリネームし、
// 自分のWi-Fi情報を書き換えて使用してください。
const char ssid[] PROGMEM     = "YOUR_WIFI_SSID_HERE";
const char password[] PROGMEM = "YOUR_WIFI_PASSWORD_HERE";

#endif // CONFIG_H